.navigator-container {
    position: fixed;
    left: 50%;
    bottom: 350px; 
    transform: translateX(-50%);
}

.navigator {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    align-items: center;
}

.navigator button {
    min-width: 180px;              
    max-width: 220px;
    padding: 10px 12px;

    border: none;
    border-radius: 8px;

    background-color: #222;
    color: rgb(31, 226, 248);

    cursor: pointer;
    transition: all 0.2s ease;


    white-space: normal;           
    word-break: break-word;        
    text-align: center;
}

.navigator button:hover {
    background-color: #444;
}

.navigator button.active {
    background-color: #ee0303;
    color: white;
    font-weight: bold;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
